div {
    font-family: "Helvetica";
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 5px;
}

nav {
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

a {
    width: 20%;
    text-align: center;
    text-decoration: none;
}

body {
    background-color: black;
}

h1 {
    font-family: 'Helvetica', Courier, monospace;
    padding: 5px;
    margin: 0px;
}

p {
    padding: 5px;
    margin: 0px;
}

footer {
    background-color: white;
}

.navImage {
    width: 75px;
}

.navItems {
    opacity: 0;
}

.navItems:hover {
    background-color: white;
    color: black;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.mainImage {
    width: 30%;
    height: 30%;
}

#title {
    display: flex;
    padding: 20px 0px 20px 20px;
    flex-wrap: wrap;
    background-color: darkblue;
}